 
 <button (click)='showGetData()'> getApi</button >
  <button (click)='postData(id)'>postId</button>
   

  <table width="100%">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>User Id</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let showDataAarray  of showDataAarray  ">
      <td>{{showDataAarray.id}}</td>
      <td>
      <tr *ngFor="let data of showDataAarray.currencies ">
      <td>{{data.name}}</td>
      </tr>
      </td>
      <td>{{datas.username}}</td>
      <td>{{datas.completed}}</td>
    </tr>
  </table>

<router-outlet></router-outlet>






